﻿
@model List<Account>
@{
    Layout = "~/Views/Shared/layoutAdmin.cshtml";
}
<h4 class="text-center display-4">Quản lý tài khoản</h4>
<div class="card-body">
    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tên tài khoản</th>
                <th >Trạng thái</th>
                <th >Xóa tài khoản</th>
            </tr>
        </thead>
        <tbody>
            @for(int i=0;i<Model.Count;i++)
            {
                <tr>
                    <td>@Model[i].IdAccount</td>
                    <td>@Model[i].UserName</td>
                    @if(Model[i].UpgradeAccounts.Count==0)
                    {
                        <td>
                            <button type="button" class="btn btn-success btn-update" data-id="@Model[i].IdAccount">
                                <a>Nâng cấp tài khoản</a>
                            </button>
                        </td>
                    }
                    else
                    {
                        <td>
                            Đã nâng câp tài khoản: Hạn:@Model[i].UpgradeAccounts.Last().TimeUpgrade
                        </td>
                    }
                  
                    
                    <td>
                        <button type="button" class="btn btn-danger btn-delete" data-id="@Model[i].IdAccount">
                            <a> Xóa tài khoản</a>
                        </button>
                    </td>
                </tr>

            }
        </tbody>
        
    </table>
</div>
<script src="~/admin/plugins/jquery/jquery.min.js"></script>
<script src="~/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- DataTables  & Plugins -->
<script src="~/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/admin/plugins/jszip/jszip.min.js"></script>
<script src="~/admin/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/admin/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script>
      
    $("#example2").DataTable({
        "responsive": true, "lengthChange": true, "autoWidth": true,
        "paging": true,
        "autoFill": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": true,
        "responsive": true,
        "rowReorder": true,
    });
    $('#example2').on('click', '.btn-delete', function () {
        var gId = this.getAttribute('data-id');
        deletePost(gId);
    })
    $('#example2').on('click', '.btn-update',function()
    {       
        var gId = this.getAttribute('data-id');
        accepPost(gId);
    })

    function deletePost(id)
    {
        console.log(id);
        $.ajax({
            "url": "/admin/updateAccount/delete?id=" + id,
            "method": "POST",
            "timeout": 0,
            success: function (result) {
                alert(result);
                location.reload();
            },
            error: function (err) {
                alert(err);
            }
        });
    }
    function accepPost(id) {
        $.ajax({
            "url": "/admin/updateAccount/update?id=" + id,
            "method": "POST",
            "timeout": 0,
            success: function (result) {
                alert(result);
                location.reload();
            },
            error: function (err) {
                alert(err);
            }
        });
    }
</script>
