﻿@{
    Layout = "~/Views/Shared/layoutAdmin.cshtml";
    List<Shop> listShop = ViewBag.Shop;
    List<Tag> listTag = ViewBag.Tag;
}
@model List<Post>
<h4 class="text-center display-4">Danh sách phê duyệt</h4>
<div class="card-body">
    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tiêu đề</th>
                <th width="300px">Nội dung</th>
                <th>Tên quán</th>
                <th width="100px">Địa chỉ</th>
                <th>Loại quán</th>
                <th>Menu</th>
                <th>Hình ảnh</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for(int i=0;i<Model.Count;i++)
            {
                <tr>
                    <td>@Model[i].IdPost</td>
                    <td>@Model[i].Title</td>
                    <td><div style="   overflow-y: auto; height:200px;">@Model[i].ContentPost</div></td>
                    <td>@listShop[i].NameShop</td>
                    <td>@listShop[i].DiaChi</td>
                    <td>@listTag[i].NameTag</td>
                    <td>
                        <select class="form-select">
                            @foreach(var menu in listShop[i].Menus)
                            {
                                <option value="1">Tên món: @menu.NameDrink | Giá: @menu.Price</option>
                            }
                        </select>
                    </td>
                    <td><img height="200px" width="400px" src="@Model[i].Image" /></td>
                    <td>
                        <button type="button" class="btn btn-success btn-apc"  data-id="@Model[i].IdPost">
                            Duyệt
                        </button>
                        <button type="button" class="btn btn-danger btn-delete" data-id="@Model[i].IdPost"  >
                           Xóa
                        </button>
                    </td>
                </tr>

            }
        </tbody>
        
    </table>
</div>
<script src="~/admin/plugins/jquery/jquery.min.js"></script>
<script src="~/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- DataTables  & Plugins -->
<script src="~/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/admin/plugins/jszip/jszip.min.js"></script>
<script src="~/admin/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/admin/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script>
      
    $("#example2").DataTable({
        "responsive": true, "lengthChange": true, "autoWidth": true,
        "paging": true,
        "autoFill": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": true,
        "responsive": true,
        "rowReorder": true,
    });
    $('#example2').on('click', '.btn-delete', function () {
        var gId = this.getAttribute('data-id');
        deletePost(gId);
    })
    $('#example2').on('click', '.btn-apc', function () {
        var gId = this.getAttribute('data-id');
        accepPost(gId);
    })
    function deletePost(id)
    {
        console.log(id);
        $.ajax({
            "url": "/admin/browse/deletePost?idPost=" + id,
            "method": "POST",
            "timeout": 0,
            success: function (result) {
                alert(result);
                location.reload();
            },
            error: function (err) {
                alert(result);
            }
        });
    }
    function accepPost(id) {
        $.ajax({
            "url": "/admin/browse/accepPost?idPost=" + id,
            "method": "POST",
            "timeout": 0,
            success: function (result) {
                alert(result);
                location.reload();
            },
            error: function (err) {
                alert(result);
            }
        });
    }
</script>