﻿
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="ISO-8859-1">

    <title>@ViewData["Title"]</title>
    <link href="/content/css/media_query.css" rel="stylesheet" type="text/css" />
    <link href="/content/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="/content/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="/content/css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="/content/css/owl.theme.default.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap CSS -->
    <link href="/content/css/style_1.css" rel="stylesheet" type="text/css" />
    <!-- Modernizr JS -->
    <script src="/content/js/modernizr-3.5.0.min.js"></script>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="/css/search.css" rel="stylesheet" type="text/css" />
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        .dropdownMenu{
            display: none;
        }

       .dropdownMenu div
         {
             margin: 5px 15px;
         }

            .dropdownMenu div a{
                text-decoration: none;
                color:#333;
            }
        .liDr:hover .dropdownMenu {
            background: #f7f7f7;
            display: block;
            position:absolute;
            z-index:9999;
        }

    </style>
</head>
<body class="single">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-9 fh5co_padding_menu">
                    <img src="/content/images/logo.png" alt="img" class="fh5co_logo_width" />
                </div>      
                <div class="col-md-3">
                    <form action="/home/search" >
                    <div class="container-input">
                        <input type="text" placeholder="Search" name="search" class="input">
                        <button>
                        <svg fill="#000000" width="20px" height="20px" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
                            <path d="M790.588 1468.235c-373.722 0-677.647-303.924-677.647-677.647 0-373.722 303.925-677.647 677.647-677.647 373.723 0 677.647 303.925 677.647 677.647 0 373.723-303.924 677.647-677.647 677.647Zm596.781-160.715c120.396-138.692 193.807-319.285 193.807-516.932C1581.176 354.748 1226.428 0 790.588 0S0 354.748 0 790.588s354.748 790.588 790.588 790.588c197.647 0 378.24-73.411 516.932-193.807l516.028 516.142 79.963-79.963-516.142-516.028Z" fill-rule="evenodd"></path>
                        </svg>
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
        <div class="container padding_786">
            <nav class="navbar navbar-toggleable-md navbar-light ">
                <button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="/content/images/logo.png" alt="img" class="mobile_logo_width" /></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.ActionLink("Index","Home")" style="width:150px;font-size:20px">Trang chủ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="@Url.ActionLink("New","Home")" style="width:150px;font-size:20px"> <span class="sr-only">(current)</span>Bài mới</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="@Url.ActionLink("Trending","Home")" style="width:150px;font-size:20px">Trending <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="@Url.ActionLink("MostViews","Home")" style="width:150px;font-size:20px">Most Views <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item liDr">
                            <a class="nav-link "style="width:150px;font-size:20px">Loại cafe <span class="sr-only">(current)</span></a>
                            <div class="dropdownMenu listTypeCafe">

                            </div>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" style="width:170px;font-size:20px" href="@Url.ActionLink("Index","Profile")">Trang cá nhân <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" style="width:140px;font-size:20px" href="@Url.ActionLink("logOut","Login")">Đăng xuất <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
            @RenderBody()
    <div class="container-fluid fh5co_footer_bg pb-3">
        <div class="container animate-box">
            <div class="row">
                <div class="col-12 spdp_right py-5"><img src="/content/images/white_logo.png" alt="img" class="footer_logo" /></div>
                <div class="clearfix"></div>
                <div class="col-12 col-md-4 col-lg-5">
                    <div class="footer_main_title py-3"> Về chúng tôi</div>
                    <div class="footer_sub_about pb-3">
                        Chào mọi người, tôi là chủ sở hữu của trang web 24news - một trang web để mọi người có thể chia sẻ và viết review về các quán cafe tại Hà Nội.

                        Với trang web này, tôi muốn tạo ra một cộng đồng nơi mọi người có thể cùng nhau chia sẻ và tìm kiếm thông tin về các quán cafe tại Hà Nội. Tôi hiểu rằng việc tìm kiếm một quán cafe phù hợp với sở thích của mình có thể khá khó khăn. Vì vậy, tôi muốn cung cấp cho mọi người một nơi để có thể tìm kiếm và đánh giá các quán cafe tại Hà Nội một cách dễ dàng và tiện lợi.
                    </div>
                    <div class="footer_mediya_icon">
                        <div class="text-center d-inline-block">
                            <a class="fh5co_display_table_footer">
                                <div class="fh5co_verticle_middle"><i class="fa fa-linkedin"></i></div>
                            </a>
                        </div>
                        <div class="text-center d-inline-block">
                            <a class="fh5co_display_table_footer">
                                <div class="fh5co_verticle_middle"><i class="fa fa-google-plus"></i></div>
                            </a>
                        </div>
                        <div class="text-center d-inline-block">
                            <a class="fh5co_display_table_footer">
                                <div class="fh5co_verticle_middle"><i class="fa fa-twitter"></i></div>
                            </a>
                        </div>
                        <div class="text-center d-inline-block">
                            <a class="fh5co_display_table_footer">
                                <div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-2">
                    <div class="footer_main_title py-3"> Loại cafe</div>
                    <ul class="footer_menu listTag">
                                     
                    </ul>
                </div>
                <div class="col-12 col-md-12 col-lg-5 footerMostViews">
                    <div class="footer_main_title py-3"> Most Views Posts</div>
                  
                </div>
            </div>     
        </div>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/content/js/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <!-- Waypoints -->
    <script src="/content/js/jquery.waypoints.min.js"></script>
    <!-- Main -->
    <script src="/content/js/main.js"></script>

    <script>
        function getListMostViews() {
            $.ajax({
                type: "GET",
                url: "/home/getListPostMostViewLayout",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    var listProduct = data;
                    var display = $(".footerMostViews");
                    for (let index of listProduct) {
                        display.append(
                            '<a href="/single/index/' + index.idPost + '" class="footer_img_post_6"><img src="' + index.image + '" alt="img" /></a>'
                        );
                    }
             

                },
                error: function (xhr, status, error) {
                }
            });
        }
        getListMostViews()
        function getListTag() {
            $.ajax({
                type: "GET",
                url: "/home/getListTag",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    var listProduct = data;
                    var display = $(".listTag");
                    var displayNav = $(".listTypeCafe");
                    for (let index of listProduct) {
                        display.append(
                            ' <li><a href="/Home/typeCafe?type=' + index.idTag + '" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; ' + index.nameTag + '</a></li>'
                        );
                        displayNav.append(
                            '<div> <a class="" href = "/Home/typeCafe?type=' + index.idTag + '" > ' + index.nameTag + ' </a></div>'
                        );
                    }


                },                               
                error: function (xhr, status, error) {
                }
            });
        }
        getListTag()

    </script>
</body>
</html>