﻿@{
    ViewData["Title"] = "Add Post Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var thongBao = "@Html.Raw(ViewBag.Message)";
    if (thongBao != "") {
        alert(thongBao);
    }
</script>
<div class="container" style=" margin-top:30px;">
    <h2 class="text-center">Đăng bài review quán cafe</h2>
    <form enctype="multipart/form-data" action="@Url.Action("addNewPost", "Profile")" method="post">
        <div class="form-group">
            <label for="cafeName">Tên quán:</label>
            <input type="text" class="form-control" id="cafeName" placeholder="Nhập tên quán" name="NameShop">
        </div>
        <div class="form-group">
            <label for="cafeOwner">Tên chủ quán:</label>
            <input type="text" class="form-control" id="cafeOwner" placeholder="Nhập tên chủ quán" name="NameShopOwner">
        </div>
        <div class="form-group">
            <label for="cafeAddress">Địa chỉ quán:</label>
            <input type="text" class="form-control" id="cafeAddress" placeholder="Nhập địa chỉ quán" name="DiaChi">
        </div>
        <div class="form-group">
            <label for="cafePhone">Số điện thoại quán:</label>
            <input type="text" class="form-control" id="cafePhone" placeholder="Nhập số điện thoại quán" name="PhoneShop">
        </div>
        <div class="form-group">
            <label for="cafeOpenTime">Giờ mở cửa:</label>
            <input type="time" class="form-control" id="cafeOpenTime" placeholder="Nhập giờ mở cửa" name="OpenTime">
        </div>
        <div class="form-group">
            <label for="cafeCloseTime">Giờ đóng cửa:</label>
            <input type="time" class="form-control" id="cafeCloseTime" placeholder="Nhập giờ đóng cửa" name="ClosingTime">
        </div>
        <div class="form-group">
            <label for="cafeMenu">Menu:</label>
            <div id="menu" >
                <div class="form-group">
                    <label for="name1">Tên món 1:</label>
                    <input type="text" name="nameDrink[0]" id="name1">
                    <label for="price1">Giá tiền:</label>
                    <input type="number" name="priceDrink[0]" id="price1">
                </div>
            </div>
            <button type="button" onclick="addFields()">Thêm sản phẩm</button>
            <button type="button" onclick="removeLastField()">Xóa sản phẩm cuối</button>
        </div>
        <div class="form-group">
            <label for="cafeTitle">Tiêu đề:</label>
            <input type="text" class="form-control" id="cafeTitle" placeholder="Nhập tiêu đề bài review" name="Title">
        </div>
        <div class="form-group">
            <label for="cafeContent">Nội dung:</label>
            <textarea class="form-control" id="cafeContent" rows="5" placeholder="Nhập nội dung bài review" name="ContentPost"></textarea>
        </div>
        <div class="form-group">
            <label for="cafeImage">Hình ảnh:</label>
            <input type="file" class="form-control-file" id="cafeImage" name="image">
        </div>
        <div class="form-group">
            <label for="cafeTag">Tag:</label>
            <select class="form-select" id="selectTag" name="IdTag">
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Đăng bài review</button>
    </form>
</div>
<script> 
    getTag();
    function addFields() {
        var container = document.getElementById("menu");
        var inputs = container.getElementsByTagName("input");
        var index = inputs.length / 2 ;

        var div = document.createElement("div");

        var nameLabel = document.createElement("label");
        nameLabel.setAttribute("for", "name" + index);
        nameLabel.innerHTML = "Tên món " + (index+1) + ":";

        var nameInput = document.createElement("input");
        nameInput.setAttribute("type", "text");
        nameInput.setAttribute("name", "nameDrink[" + index + "]");
        nameInput.setAttribute("id", "name" + index);

        var priceLabel = document.createElement("label");
        priceLabel.setAttribute("for", "price" + index);
        priceLabel.innerHTML = "Giá món :";

        var priceInput = document.createElement("input");
        priceInput.setAttribute("type", "number");
        priceInput.setAttribute("name", "priceDrink[" + index+"]");
        priceInput.setAttribute("id", "price" + index);

        div.appendChild(nameLabel);
        div.appendChild(nameInput);
        div.appendChild(priceLabel);
        div.appendChild(priceInput);

        container.appendChild(div);
    }
    function removeLastField() {
        var container = document.getElementById("menu");
        var inputs = container.getElementsByTagName("input");
        var divs = container.getElementsByTagName("div");
        var index = divs.length;
        debugger;
        
        if (index > 1) {
            container.removeChild(divs[index-1]);
        }
    }
    function getTag()
    {
        $.ajax({
            url: "/Profile/getTag",
            type: "GET",
            dataType: "json",
            success: function (data) {
               
                var list = data
                for (var i = 0; i < list.length; i++) {
                    $("#selectTag").append('<option value="' + list[i].idTag + '">' + list[i].nameTag + '</option>');
                }
            },
            error: function (xhr, status, error) {
                // Handle error
                console.log("Error: " + error);
            }
        });    
    }
</script>