﻿@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ModelProfile
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/profile.css" rel="stylesheet">
<script>
    var thongBao = "@Html.Raw(ViewBag.Message)";
    if (thongBao != "") {
        alert(thongBao);
    }
</script>
<div class="main-body">

    <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="@Model.User.Image" alt="Admin" class="rounded-circle" width="150" height="150" >
                        <div class="mt-3">
                            <h4>@Model.User.FullName</h4>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadImageModal">
                                Chỉnh sửa  ảnh
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Họ và tên</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Model.User.FullName
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Model.User.Email
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Phone</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Model.User.PhoneNumber
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Ngày sinh</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Model.User.Birthday.ToString("dd/MM/yyyy")
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editUserModal">
                                Sửa thông tin người dùng
                            </button>
                            <button type="button" class="btn btn-primary" >
                                <a href="/Profile/addPost" style="color:white">Thêm bài review</a>
                            </button>
                            @if(Model.ads == true )
                            {
                                <p>  Tài khoản đã được nâng cấp đến ngày : @Model.UpgradeAccount.TimeUpgrade</p>
                            }
                            else
                            {
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateAccount">
                                    Nâng cấp tài khoản ngay !
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  profile-conten -->
   
<div class="profile-content">

    <div class="tab-content p-0">
       
        <div class="tab-pane fade active show" id="profile-post">

            <ul class="timeline" id="timeline"> 
                @for(int i = 0; i<Model.Post.Count();i++)
                {
               
                    <li>
                        <div class="timeline-time">
                            <span class="time">@Model.Post[i].Date</span>
                        </div>

                        <div class="timeline-icon">
                            <a href="javascript:;">&nbsp;</a>
                        </div>
                        <form method="post" enctype="multipart/form-data" action="/Profile/editPost?id=@Model.Post[i].IdPost">
                        <div class="timeline-body">
                            <div class="timeline-header">
                                <span class="userimage"><img src="@Model.User.Image" alt=""></span>
                                <span class="username"><a href="javascript:;">@Model.User.FullName</a> <small></small></span>
                                <span class="pull-right text-muted">@Model.Post[i].Visits.Sum(s=>s.Visit1) Views</span>
                            </div>
                            <button class="btn btn-primary f-s-12 rounded-corner btn-edit" type="button" data-id="@Model.Post[i].IdPost">Sửa bài viết</button>
                            @if(Model.Post[i].PostAdvertisements.Count>0)
                                {
                                    <button class="btn btn-danger f-s-12 rounded-corner btn-Hads" type="button" data-id="@Model.Post[i].IdPost">Hủy quảng cáo bài viết</button>
                                }
                                else
                                {
                                    @if (Model.ads == true)
                                    {
                                        <button class="btn btn-primary f-s-12 rounded-corner btn-ads" type="button" data-id="@Model.Post[i].IdPost">Quảng cáo bài viết</button>
                                    }
                                }

                            
                                <div class="timeline-content">
                                    <h5>Tiêu đề:</h5>
                                    <input class="form-control" value="@Model.Post[i].Title" name="Title" readonly>
                                    <h5>Nội dung:</h5>
                                    <textarea class="form-control" id="cafeContent" rows="7" value="" name="ContentPost" readonly>
                                        @Model.Post[i].ContentPost
                                    </textarea>
                                <div>
                                    <h6>Tên quán:</h6>
                                        <input type="text" class="form-control" id="cafeName" value="@Model.Shop[i].NameShop" name="NameShop" readonly>
                                    <h6>Địa chỉ:</h6>
                                        <input type="text" class="form-control" id="cafeAddress" value="@Model.Shop[i].DiaChi" placeholder="Nhập địa chỉ quán" name="DiaChi" readonly>
                                    <h6>Menu:</h6>
                                    <table class="table col-5">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Tên món</th>
                                                <th scope="col">Giá</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                @foreach (var menu in Model.Shop[i].Menus)
                                                {
                                                <tr>
                                                        <td><input class="form-control" name="nameDrink[]" value="@menu.NameDrink" readonly></td>
                                                        <td><input class="form-control" name="priceDrink[]" value="@menu.Price" readonly></td>

                                                </tr>
                                                }

                                        </tbody>
                                    </table>
                                    <h6>Giờ mở cửa: </h6>
                                     <input type="time" class="form-control" id="cafeOpenTime" value="@Model.Shop[i].OpenTime" name="OpenTime" readonly>

                                    <h6>Giờ đóng cửa:</h6>
                                        <input type="time" class="form-control" id="cafeCloseTime" value="@Model.Shop[i].ClosingTime" name="ClosingTime" readonly>

                                    <h6>Tên chủ quán:</h6>
                                        <input type="text" class="form-control" id="cafeOwner" value="@Model.Shop[i].NameShopOwner" name="NameShopOwner" readonly>

                                    <h6>Số điện thoại liên hệ:</h6>
                                        <input type="text" maxlength="10" class="form-control" id="cafePhone" value=" @Model.Shop[i].PhoneShop" name="PhoneShop" readonly>
                                    <h6>Tag: @Model.Post[i].IdTag</h6>
                                        <select class="form-select" id="selectTag" name="IdTag" style="display:none">
                                        </select>
                                    
                                </div>
                                <div>
                                    <img width="900" height="387" src="@Model.Post[i].Image" />
                                </div>
                                <div class="editImage" style="display:none;">
                                    <p>Sửa ảnh</p>
                                        <input type="file" name="file">
                                </div>
                            </div>
                            <div class="timeline-likes">
                                <div class="stats">
                                    <span class="fa-stack fa-fw stats-icon">
                                        <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                        <i class="fa fa-thin fa-star" style="color:white"></i>
                                    </span>
                                    <span class="stats-total">@Model.Evaluate[i].ToString()</span>
                                </div>
                            </div>
                            <div class="timeline-comment-box">
                                <button class="btn btn-conf-edit btn-primary f-s-12 rounded-corner" type="submit" style="display:none">Xác nhận sửa</button>
                            </div>
                        </div>
                        </form>
                    </li>
                
                }
                <!---->
            </ul>

        </div>

    </div>

</div>
  <!-- Write your comments here -->

  <!-- Modal edit image-->
<div class="modal fade" id="uploadImageModal" tabindex="-1" role="dialog" aria-labelledby="uploadImageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadImageModalLabel">Tải lên ảnh</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="uploadForm" enctype="multipart/form-data" action="@Url.Action("UploadImage", "Profile")" method="post">
                    <div class="form-group">
                        <label for="imageFile">Chọn tập tin ảnh:</label>
                        <input type="file" name="imageFile" id="imageFile" accept="image/*" required>
                    </div>
                    <button type="submit" class="btn btn-primary" id="uploadButton">Tải lên</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        
            </div>

        </div>
    </div>
</div>
<!-- Modal edit user information-->
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Edit User Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("editUser", "Profile")" method="post">
                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <input type="text" class="form-control" name="FullName" id="FullName" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label for="inputBirthdate">Birthdate</label>
                        <input type="date" class="form-control" name="Birthday" id="inputBirthdate" placeholder="Enter birthdate">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        <input type="email" class="form-control" id="inputEmail" name="Email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="inputPhone">Phone number</label>
                        <input type="tel" class="form-control" name="PhoneNumber" id="inputPhone" placeholder="Enter phone number">
                    </div>
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal update account-->
<!-- Modal edit image-->
<div class="modal fade" id="updateAccount" tabindex="-1" role="dialog" aria-labelledby="uploadImageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadImageModalLabel">Nâng cấp tài khoản</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                    <div class="form-group">
                        <p>Vui lòng chuyển khoản đến STK: 123123177 ngân hàng MB bank</p>
                        <p>Nội dung chuyển khoản:</p>
                        <p>@Model.User.Accounts.First().IdAccount</p>
                    </div>               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>

            </div>

        </div>
    </div>
</div>

<!-- End html -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>

<script>
    getTag();
    $('.btn-ads').on('click', function () {
        var gId = this.getAttribute('data-id');
        adsPost(gId);
    })
    $('.btn-Hads').on('click', function () {
        var gId = this.getAttribute('data-id');
        HadsPost(gId);
    })
    $('.btn-edit').click(function () {
        
        $('#selectTag').css('display', 'block')
        $('.editImage').css('display', 'block')  
        $('.btn-conf-edit').css('display', 'block')
        $(this).siblings('.timeline-content').find('input,textarea').removeAttr('readonly');

    });
    function getTag() {
        $.ajax({
            url: "/Profile/getTag",
            type: "GET",
            dataType: "json",
            success: function (data) {

                var list = data
                for (var i = 0; i < list.length; i++) {
                    $("#selectTag").append('<option value="' + list[i].idTag + '">' + list[i].nameTag + '</option>');
                }
            },
            error: function (xhr, status, error) {
                // Handle error
                console.log("Error: " + error);
            }
        });
    }
    function adsPost(id) {
        $.ajax({
            "url": "/profile/adsPost?id=" + id,
            "method": "POST",
            "timeout": 0,
            success: function (result) {
                alert(result);
                location.reload();
            },
            error: function (err) {
                alert(err);
            }
        });
    }
    function HadsPost(id) {
        $.ajax({
            "url": "/profile/HadsPost?id=" + id,
            "method": "POST",
            "timeout": 0,
            success: function (result) {
                alert(result);
                location.reload();
            },
            error: function (err) {
                alert(err);
            }
        });
    }
</script>