﻿@model ModelSingle
@{
    ViewData["Title"] = "Single";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/css/comment.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<style>
    a {
        text-decoration: none;
    }
</style>
<div id="fh5co-title-box" style="background-image: url(@Url.Content(Model.Post.Image));" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="page-title">
        <img src="@Model.User.Image" alt="">
        <span>@Model.User.FullName</span>
        <span>@Model.Post.Date</span>
        <h2>@Model.Post.Title</h2>
    </div>
</div>
<div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <p>
                    @Model.Post.ContentPost
                </p>
                <h3>Về quán</h3>

                <h5>Tên quán</h5>
                <p>
                    @Model.Shop.NameShop
                </p>
                <h5>Tên chủ quán</h5>
                <p>
                    @Model.Shop.NameShopOwner
                </p>
                <h5>Địa chỉ</h5>
                <p>
                   @Model.Shop.DiaChi
                </p>

                <h5>Số điện thoại</h5>
                <p>
                    @Model.Shop.PhoneShop
                </p>

                <h5>Menu</h5>
                <table class="table col-5">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Tên món</th>
                            <th scope="col">Giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var menu in Model.Shop.Menus)
                        {
                            <tr>
                                <td>@menu.NameDrink</td>
                                <td>@menu.Price</td>
                            </tr>
                        }

                    </tbody>
                </table>
                <h6>Giờ mở cửa</h6>
                <p>
                    @Model.Shop.OpenTime
                </p>
                <h6>Giờ đóng cửa</h6>
                <p>
                    @Model.Shop.ClosingTime
                </p>
                <div class="comment">
                    <h4>Đánh giá</h4>
                    @if(Model.reviews==0)
                    {
                        <span class="">Chưa có lượt đánh giá nào</span>
                    }
                    else
                    {
                       
                        @Model.star <span class="fa fa-star checked"></span><br />
                        <span class="">@Model.reviews lượt đánh giá</span>
                    }                  
                  
                    <button type="button" style="margin-left:30px" class="btn btn-primary" data-toggle="modal" data-target="#rateModal">
                        Đánh giá
                    </button>
                    <div class="">
                        <div class="be-comment-block">
                            <h1 class="comments-title">Bình luận </h1>
                            <form style="margin-bottom:30px" action="/Single/addComment/@Model.Post.IdPost" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-9">
                                        <input type="text" class="form-control" placeholder="Nhập bình luận" name="comment">
                                    </div>
                                    <div class="col-3">
                                            <input type="file" name="image" id="fileImage" style="display:none">
                                            <button class="btn btn-primary addImage" type="button">Thêm ảnh</button>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-danger" type="submit" style="margin:20px 0 40px 0">Thêm bình luận</button>
                                </div>
                            </form>
                            @if (Model.ListComment.Count > 0) 
                            for (int i =0;i<Model.ListComment.Count;i++)
                                {
                                    <div class="be-comment" style="margin-bottom:30px">
                                        <div class="be-img-comment">
                                            <a href="">
                                                <img src='@Model.ListUserComment[i].Image' alt="" class="be-ava-comment">
                                            </a>
                                        </div>
                                        <div class="be-comment-content be-comment-text">

                                            <span class="be-comment-name">
                                                <a href="">@Model.ListUserComment[i].FullName</a>
                                            </span>
                                            <span class="be-comment-time">
                                                <i class="fa fa-clock-o"></i>
                                                @Model.ListComment[i].date
                                            </span>

                                            <p class="be-comment-text">
                                                @Model.ListComment[i].Comment1
                                            </p>
                                            <div>
                                                @if (Model.ListComment[i].Image!=null)
                                                {
                                                    <img src="@Model.ListComment[i].Image" alt="">
                                                }
                                               
                                            </div>
                                        </div>
                                    </div>
                                }                                                  
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tags</div>
                </div>
                <div class="clearfix"></div>
                <div class="fh5co_tags_all">
                    @foreach (var index in Model.listTag)
                    {
                        <a href="/Home/typeCafe?type=@index.IdTag" class="fh5co_tagg">@index.NameTag</a>
                    }
                </div>
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">Most Views</div>
                </div>
                @foreach (var index in Model.listPostMostView)
                {
                    <a href="/single/index/@index.IdPost">
                        <div class="row pb-3">
                            <div class="col-5 align-self-center">
                                <img src="@index.Image" alt="img" class="fh5co_most_trading" />

                            </div>
                            <div class="col-7 paddding">
                                <div class="most_fh5co_treding_font" style="color:black">@index.Title</div>
                                <div class="most_fh5co_treding_font_123">@index.Date</div>
                            </div>
                        </div>
                    </a>
                }

            </div>
        </div>
    </div>
</div>
<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Trending</div>
        </div>
        <div class="owl-carousel owl-theme" id="slider2">
            @foreach (var index in Model.listPostTrending)
            {
                <div class="item px-2">
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_news_img"><img src="@index.Image" alt="" /></div>
                        <div>
                            <a href="/single/index/@index.IdPost" class="d-block fh5co_small_post_heading"><span class="">@index.Title</span></a>
                            <div class="c_g"><i class="fa fa-clock-o"></i> @index.Date</div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div><!-- Modal -->
<div class="modal fade" id="rateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/Single/rate?id=@Model.Post.IdPost" method="post" enctype="multipart/form-data">
                    <h2>Đánh giá bài viết</h2>
                    <div class="rating">
                        <input type="radio" id="star5" name="rating" value="5" />
                        <label for="star5" title="Rất tốt">&#9733 &#9733 &#9733 &#9733 &#9733 </label>   <br />
                        <input type="radio" id="star4" name="rating" value="4" />
                        <label for="star4" title="Tốt">&#9733 &#9733 &#9733 &#9733 </label> <br />
                        <input type="radio" id="star3" name="rating" value="3" />  
                        <label for="star3" title="Trung bình">&#9733 &#9733 &#9733</label>  <br />
                        <input type="radio" id="star2" name="rating" value="2" /> 
                        <label for="star2" title="Tệ">&#9733 &#9733</label> <br />
                        <input type="radio" id="star1" name="rating" value="1" />  
                        <label for="star1" title="Rất tệ">&#9733</label>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-danger">Gửi</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".addImage").on('click', function () {
            $("#fileImage").click();
        });
    });
</script>
