﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css">
    <script src="~/lib/jquery/dist/jquery.js"> </script>
</head>
<body>

    <div class="container">
        <section id="formHolder">

            <div class="row">
                <!-- Form Box -->
                <div class="col-sm-8 form">
                    <!-- Login Form -->
                    <div class="login form-peice ">
                        <div class="login-form form1">
                            <div class="form-group">
                                <label for="Username">Vui lòng nhập email xác thực!</label>
                                <input type="email" name="Email" id="email">
                            </div>
                            <span>@ViewBag.Messeage </span>
                            <div class="CTA">
                                <input type="submit" value="Xác nhận gửi" id="submit">            
                                <div style="margin-top:20px;"><a href="@Url.Action("login", "Login")" style="color:#333;"> Đăng nhập</a></div>
                            </div>
                          

                        </div>
                       
                    </div><!-- End Login Form -->
                   
                </div>
            </div>

        </section>
      


    </div>
    <div style="float:right">
        <div class="loader" style="display:none;">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <img src="~/images/login/login.jpg" width="700px" />
    </div>
    <script src="/js/login.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.js"></script>
    <script>

        var email = "";
        $("#submit").on('click',function()
        {
            email = $("#email").val();
          
            if(email.length>0)
            {
                sendEmail();
            }
            else
            {
                alert("Vui lòng nhập địa chỉ email !");
            }
        })
        function sendEmail() {
            $(".form").css("display", "none");
            $(".loader").css("display", "block");
            $.ajax({
                url: "/Login/sendEmail",
                method: "POST",
                timeout: 0,
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                data: {
                    email
                },
                success: function (result) {
                    alert("Đã gửi mã thành công! Vui lòng kiểm tra email để đổi mật khẩu!"); 
                    window.location.href = "/login/index";
                },
                error: function (err) {
                    $(".form").css("display", "block");
                    $(".loader").css("display", "none");
                  alert("Đã xảy ra lỗi, vui lòng thử lại!");
                }
            })
        }
       
    </script>
</body>
</html>