﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css">
    <script src="~/lib/jquery/dist/jquery.js"> </script>
</head>
<body>

    <div class="container">
        <section id="formHolder">
            <div class="row">
                <!-- Form Box -->
                <div class="col-sm-6 form">
                    <!-- Login Form -->
                    <div class="login form-peice ">
                        <form class="login-form form1" action="@Url.Action("login", "Login")" method="post">
                            <div class="form-group">
                                <label for="Username">Username</label>
                                <input type="text" name="Username">
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" required>
                            </div>
                            <span>@ViewBag.Messeage </span>
                            <div class="CTA">
                                <input type="submit" value="Login">
                                <a href="#" class="switch">Tạo tài khoản</a><br />
                                <div style="margin-top:20px;"><a href="@Url.Action("forget", "Login")" style="color:#333;"> Quên mật khẩu?</a></div>
                            </div>
                        </form>
                        
                    </div><!-- End Login Form -->
                    <!-- Signup Form -->
                    <div class="signup form-peice switched">
                        <div class="signup-form form1" action="#" method="post">

                            <div class="form-group">
                                <label for="name">Ho và tên</label>
                                <input type="text" name="fullname" id="FullName">
                                <span class="error FullName"></span>
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email"  id="Email" >
                                <span class="error Email"></span>
                            </div>

                            <div class="form-group">
                                <label for="phone">Số điện thoại</label>
                                <input type="number"  id="PhoneNumber">
                                <span class="error PhoneNumber"></span>
                            </div>
                            <div class="form-group">
                                <label for="Birthday">Ngày sinh</label>
                                <input type="date"  id="Birthday">
                                <span class="error Birthday"></span>
                            </div>
                            <div class="form-group">
                                <label for="">Tên đăng nhập</label>
                                <input type="text" id="UserName">
                                <span class="error UserName"></span>
                            </div>
                            <div class="form-group">
                                <label for="password">Mật khẩu</label>
                                <input type="password" id="Password">
                                <span class="error Password"></span>
                            </div>

                            <div class="form-group">
                                <label for="passwordCon">Xác nhận mật khẩu</label>
                                <input type="password" id="PasswordConfirm">
                                <span class="error PasswordConfirm"></span>
                            </div>

                            <div class="CTA">
                                <input type="submit" id="dangKy" value="Đăng ký">
                                <a href="#" class="switch">I have an account</a>
                            </div>
                        </div>

                    </div><!-- End Signup Form -->

                </div>
            </div>
          
        </section>
    
    </div>
    <div style="float:right">
        <img src="~/images/login/login.jpg" width="700px" />
    </div>
    <script src="/js/login.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.js"></script>
    <script>
      
        var user = {
            FullName : "",
            Birthday : "",
            PhoneNumber : "",
            Email : "",
            UserName : "",
            Password : ""
        }
        var checkU = false;
        var checkE = false;
        //
        $("#dangKy").on('click', function () {
            $(".error").empty();
            getValueRegister();
            register();
        });
        $("#UserName").on('change', function () {
            checkUsername();
        })
        $("#Email").on('change', function () {
            checkEmail();
        })
        //
        function getValueRegister()
        {
            user.FullName = $("#FullName").val();
            user.Email = $("#Email").val();
            user.PhoneNumber = $("#PhoneNumber").val();
            user.Birthday = $("#Birthday").val();
            user.Password = $("#Password").val();
            user.UserName = $("#UserName").val();
        }
        function vailidate() {
            var check = true;
            if (user.FullName.length < 8) {
               $(".FullName").empty();
               $(".FullName").append("Vui lòng nhập đủ 8 kí tự!");
               $(".FullName").css("display", "block");
                check = false;
            }
            if (user.Email == "") {
                $(".Email").empty();
                $(".Email").append("Vui lòng nhập email!");
                $(".Email").css("display", "block");
                check = false;
            }
            if (user.PhoneNumber.length != 10) {
                    $(".PhoneNumber").empty();
                    $(".PhoneNumber").append("Vui lòng nhập đúng số điện thoại");
                    $(".PhoneNumber").css("display", "block");
                check = false;
            }
            if (user.Password.length < 6) {
                    $(".Password").empty();
                    $(".Password").append("Mật khẩu phải lớn hơn 6 kí tự");
                    $(".Password").css("display", "block");
                check = false;
            }
            if (user.UserName.length < 6) {
                    $(".UserName").empty();
                    $(".UserName").append("Tài khoản phải lớn hơn 6 kí tự");
                    $(".UserName").css("display", "block");
                check = false;
            }
            if (user.Birthday == "") {
                    $(".Birthday").empty();
                    $(".Birthday").append("Vui lòng nhập ngày sinh");
                    $(".Birthday").css("display", "block");
                check = false;
            }
            if (user.Password != $("#PasswordConfirm").val())
            {
                $(".PasswordConfirm").empty();
                $(".PasswordConfirm").append("Mật khẩu chưa trùng khớp");
                $(".PasswordConfirm").css("display", "block");
                check = false;
            }
            if (checkU == false ||checkE == false) {
                check = false;
            }
            
            return check;
        }
        function checkUsername()
        {
            var username = $("#UserName").val();
            console.log(username);
            $.ajax({
                url: "/Login/checkUsername",
                method: "POST",
                timeout: 0,
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                data: {
                    username
                },
                success: function (result) {
                    checkU = true;
                },
                error: function (err) {
                    $(".UserName").empty();
                    $(".UserName").append("Tài khoản này đã bị trùng!");
                    $(".UserName").css("display", "block");
                }
            })
        }
        function checkEmail() {
            var email = $("#Email").val();
            $.ajax({
                url: "/Login/checkEmail",
                method: "POST",
                timeout: 0,
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                data: {
                    email
                },
                success: function (result) {
                    $(".Email").empty();
                    checkE = true;
                },
                error: function (err) {
                    $(".Email").empty();
                    $(".Email").append("Email này đã được dùng!");
                    $(".Email").css("display", "block");
                }
            })
        }
        function register()
        {
            if (vailidate())
            {
                $.ajax({
                    url: "/Login/register",
                    method: "POST",
                    timeout: 0,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    data: user,
                    success: function (result) {
                        alert("Tạo tài khoản thành công!");
                        window.location.reload();
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                })
            }
        }

    </script>
</body>
</html>