﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New password</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css">
    <script src="~/lib/jquery/dist/jquery.js"> </script>
</head>
<body>

    <div class="container">
        <section id="formHolder">

            <div class="row">
                <!-- Form Box -->
                <div class="col-sm-8 form">
                    <!-- Login Form -->
                    <div class="login form-peice ">
                        <form class="login-form form1" method="post" action="@Url.Action("newPassword", "Login")">
                            <div class="form-group">

                                <label for="newPass">Vui lòng nhập mật khẩu mới</label>
                                <input type="text" name="newPass" id="newPass">
                                <input type="text" name="token" id="token" value="@ViewBag.token" style="display:none">
                            </div>
                            <div class="CTA">
                                @if(ViewBag.check ==1)
                                {
                                    <label>@ViewBag.thongBao</label>
                                }
                                else
                                {
                                    <input type="submit" value="Xác nhận gửi" id="submit">
                                }
                        
                                <div style="margin-top:20px;"><a href="@Url.Action("login", "Login")" style="color:#333;"> Đăng nhập</a></div>
                            </div>


                        </form>

                    </div><!-- End Login Form -->

                </div>
            </div>

        </section>



    </div>
    <div style="float:right">
        <div class="loader" style="display:none;">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <img src="~/images/login/login.jpg" width="700px" />
    </div>
    <script src="/js/login.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.js"></script>
    <script>

    </script>
</body>
</html>