﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ModelHome
<div class="container-fluid paddding mb-5">
    <div class="row mx-0">
        <div class="col-md-6 col-12 paddding animate-box" data-animate-effect="fadeIn">
            <div class="fh5co_suceefh5co_height">
                <img src="@Model.listPostPin[0].Image" alt="img" />
                <div class="fh5co_suceefh5co_height_position_absolute"></div>
                <div class="fh5co_suceefh5co_height_position_absolute_font">
                    <div class="">
                        <a href="/Single/index/@Model.listPostPin[0].IdPost" class="color_fff">
                            <i class="fa fa-clock-o"></i>&nbsp;&nbsp;@Model.listPostPin[0].Date
                        </a>
                    </div>
                    <div class=""><a href="/Single/index/@Model.listPostPin[0].IdPost" class="fh5co_good_font"> @Model.listPostPin[0].Title </a></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                @for(int i = 1; i< 5;i++)
                {
                    <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                        <div class="fh5co_suceefh5co_height_2">
                            <img src="@Model.listPostPin[i].Image" alt="img" />
                            <div class="fh5co_suceefh5co_height_position_absolute"></div>
                            <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                                <div class="">
                                    <a href="/Single/index/@Model.listPostPin[i].IdPost" class="color_fff">
                                        <i class="fa fa-clock-o"></i>&nbsp;&nbsp;
                                        @Model.listPostPin[i].Date
                                    </a>
                                </div>
                                <div class=""><a href="/Single/index/@Model.listPostPin[i].IdPost" class="fh5co_good_font_2" style="display:block;margin-right:20px"> @Model.listPostPin[i].Title </a></div>
                            </div>
                        </div>
                    </div>
                }
              
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-3">
    <div class="container animate-box" data-animate-effect="fadeIn">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Trending</div>
        </div>
        <div class="owl-carousel owl-theme js" id="slider1">
            @foreach(var index in Model.listPostTrending)
            {
                <div class="item px-2">
                    <div class="fh5co_latest_trading_img_position_relative">
                        <div class="fh5co_latest_trading_img">
                            <img src="@index.Image" alt=""
                                 class="fh5co_img_special_relative" />
                        </div>
                        <div class="fh5co_latest_trading_img_position_absolute"></div>
                        <div class="fh5co_latest_trading_img_position_absolute_1">
                            <a href="/single/index/@index.IdPost" class="text-white">@index.Title </a>
                            <div class="fh5co_latest_trading_date_and_name_color"> @index.Date</div>
                        </div>
                    </div>
                </div>
            }
           
         
        </div>
    </div>
</div>
<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Hot</div>
        </div>
        <div class="owl-carousel owl-theme" id="slider2">
             @foreach(var index in Model.listPostADS)
            {
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                        <div class="fh5co_news_img"><img src="@index.Image" alt="" /></div>
                    <div>
                            <a href="single.html" class="d-block fh5co_small_post_heading"><span class="">@index.Title</span></a>
                            <div class="c_g"><i class="fa fa-clock-o"></i> @index.Date</div>
                    </div>
                </div>
            </div>
            }        
        </div>
    </div>
</div>
<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">News</div>
                </div>
                @foreach (var index in Model.listPostNew)
                {
                    <div class="row pb-4">
                        <div class="col-md-5">
                            <div class="fh5co_hover_news_img">
                                <div class="fh5co_news_img"><img src="@index.Image" alt="" /></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="col-md-7 animate-box">
                            <a href="/single/index/@index.IdPost" class="fh5co_magna py-2">
                               @index.Title
                            </a>
                            <div>
                                <a href="/single/index/@index.IdPost" class="fh5co_mini_time py-3">
                                    @index.Date
                                </a>
                            </div>
                            <p>

                                @if (index.ContentPost.Length > 100)
                                {
                                    @index.ContentPost.Substring(0, 100) 
                                    <span>...</span>
                                }
                                else
                                {
                                    @index.ContentPost  
                                }
                            </p>
                        </div>
                    </div>
                }
              
            </div>
            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tags</div>
                </div>
                <div class="clearfix"></div>
                <div class="fh5co_tags_all">
                    @foreach(var index in Model.listTag)
                    {
                        <a href="/Home/typeCafe?type=@index.IdTag" class="fh5co_tagg">@index.NameTag</a>
                    }
                </div>
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">Most Views</div>
                </div>
                @foreach (var index in Model.listPostMostView)
                {
                    <a href="/single/index/@index.IdPost">
                        <div class="row pb-3">
                            <div class="col-5 align-self-center">
                                <img src="@index.Image" alt="img" class="fh5co_most_trading" />

                            </div>
                            <div class="col-7 paddding">
                                <div class="most_fh5co_treding_font" style="color:black">@index.Title</div>
                                <div class="most_fh5co_treding_font_123">@index.Date</div>
                            </div>
                        </div>
                    </a>
                }
              
            </div>
        </div>
    </div>
</div>
