﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ModelHome
<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">@Model.message</div>
                </div>
                @if(Model.listPost!=null)
                foreach (var index in Model.listPost)
                {
                    <div class="row pb-4">
                        <div class="col-md-5">
                            <div class="fh5co_hover_news_img">
                                <div class="fh5co_news_img"><img src="@index.Image" alt="" /></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="col-md-7 animate-box">
                            <a href="/single/index/@index.IdPost" class="fh5co_magna py-2">
                                @index.Title
                            </a> <a href="#" class="fh5co_mini_time py-3">
                                @index.Date
                            </a>
                            <div class="fh5co_consectetur">
                                @if (index.ContentPost.Length > 100)
                                {
                                    @index.ContentPost.Substring(0, 100)
                                    <span>...</span>
                                }
                                else
                                {
                                    @index.ContentPost
                                }
                            </div>
                        </div>
                    </div>
                }


            </div>
            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tags</div>
                </div>
                <div class="clearfix"></div>
                <div class="fh5co_tags_all">
                    @foreach (var index in Model.listTag)
                    {
                        <a href="/Home/typeCafe?type=@index.IdTag" class="fh5co_tagg">@index.NameTag</a>
                    }
                </div>
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">Most Views</div>
                </div>
                @foreach (var index in Model.listPostMostView)
                {
                    <a href="/single/index/@index.IdPost">
                        <div class="row pb-3">
                            <div class="col-5 align-self-center">
                                <img src="@index.Image" alt="img" class="fh5co_most_trading" />

                            </div>
                            <div class="col-7 paddding">
                                <div class="most_fh5co_treding_font" style="color:black">@index.Title</div>
                                <div class="most_fh5co_treding_font_123">@index.Date</div>
                            </div>
                        </div>
                    </a>
                }

            </div>
        </div>
        @if (Model.listPost != null)
        {
            <div class="row mx-0">
                <div class="col-12 text-center pb-4 pt-4">
                    <div>
                        <a href="@Url.Action("TypeCafe", new { page = (ViewBag.pageNumber - 1) ,type =Model.listPost[0].IdTag })" class="btn_mange_pagging"><i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp; Previous</a>
                        <a href="@Url.Action("TypeCafe", new { page = 1,type =Model.listPost[0].IdTag} )" class="btn_pagging">1</a>

                        @if (ViewBag.pageNumber > 1)
                        {
                            <a href="@Url.Action("TypeCafe", new { page = (ViewBag.pageNumber-1) ,type =Model.listPost[0].IdTag})" class="btn_pagging">@(ViewBag.pageNumber - 1)</a>
                            <a style="color:red" href="@Url.Action("TypeCafe", new { page = (ViewBag.pageNumber) ,type =Model.listPost[0].IdTag})" class="btn_pagging">@ViewBag.pageNumber</a>
                        }
                        <a href="@Url.Action("TypeCafe", new { page = (ViewBag.pageNumber+1),type =Model.listPost[0].IdTag})" class="btn_pagging">@(ViewBag.pageNumber + 1)</a>
                        @if (ViewBag.pageNumber < ViewBag.endPage)
                        {
                            <a href="@Url.Action("TypeCafe", new { page = (ViewBag.endPage),type =Model.listPost[0].IdTag})" class="btn_pagging">@ViewBag.endPage</a>
                        }
                        <a href="@Url.Action("TypeCafe", new { page = (ViewBag.pageNumber + 1),type =Model.listPost[0].IdTag})" class="btn_mange_pagging">Next <i class="fa fa-long-arrow-right"></i>&nbsp;&nbsp; </a>

                    </div>
                </div>

            </div>
        }
       
    </div>
</div>
<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Trending</div>
        </div>
        <div class="owl-carousel owl-theme" id="slider2">
            @foreach (var index in Model.listPostTrending)
            {
                <div class="item px-2">
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_news_img"><img src="@index.Image" alt="" /></div>
                        <div>
                            <a href="/single/index/@index.IdPost" class="d-block fh5co_small_post_heading"><span class="">@index.Title</span></a>
                            <div class="c_g"><i class="fa fa-clock-o"></i> @index.Date</div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>