﻿.container-input {
    position: relative;
    margin-top:30px;

}

.input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
}

.container-input button {
    position: absolute;
    top: 57%;
    left: 10px;
    transform: translate(0, -50%);
    background-color:white;
    border:none;
}

.input:focus {
    opacity: 1;
    width: 250px;
}
